{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{finch.img}}" alt="{{finch.name}}" />
</div>
<div class="detail__name">
    {% if finch.verified_finch %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{finch.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'finch_update' finch.pk %}" class="button is-info"> Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'finch_delete' finch.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{finch.bio}}</p>
    </div>
</div>

{% endblock %}